.input_text {
    border: none;
    padding: 0.8rem;
    border-radius: 21px;
    background-color: #F8F8F8;
}

.input_text:focus {
    outline: none;
}

.container_chat_text {
    border-radius: 21px;
    background-color: #F8F8F8;
}

.container_chat_buttons {
    border-radius:21px;
    padding: 0.9rem 1.1rem;
    background: #D4DCDF;
}

.font_size {
    font-size: 13px;
}
