/* -------------------------------------------*/
:root{
  --color-background: #F8F8F8;
  --color-background-content: #F2F2F2;
  --color-black: #000;
  --color-grey-light: #B6B6B6;
  --color-white: #fff;
  --border-color: #E7E7E7;
  --color-titles: #444444;
  --gradiente: linear-gradient(90deg, #FDE487 30.47%, #EAA34A 100%);

}

body, html,  .main-container{
  height: 100% !important;
  background-color: var(--color-background-content);
  /* background-color: #010; */
}

::-webkit-scrollbar{
  width: 5px;
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: var(--border-color); /* Color del fondo del contenedor del scroll */
  border-radius: 10px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb{
    background-color: var(--color-titles);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--color-titles);
  border-radius: 50px;
}

@font-face {
  font-family: PoppinsBold;
  src: url(./assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: PoppinsRegular;
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

.main-container .menu{
  background: var(--color-background);
  max-width: 248px;
  position: absolute;
  left: 0;
}

.menu .menu__header img{
  width: 1.3rem;
}

.main-container .content{
  background-image: url(./assets/img/fondo-leon.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: bottom;
  width: calc(100% - 248px);
  z-index: 2;
  margin-left: auto;
  transition: width .4s ease-in-out;
}

/* La clase "background-content" al colocarlo al div que tiene la clase "content", cambiara el fondo blanco y el logo negro */

.main-container .background-content {
  background: var(--color-background-content);
}

.main-container .content .text_section p{
  color: var(--color-white);
}

.main-container .background-content .text_section p{
  color: var(--color-black);
}


.main-container .background-content .text_section a img {
  filter: invert();
}


.main-container .background-content .text_section a img:not([src^="https://eso.gov.co/"]) {
  filter: none;
}

.main-container .h2{
   color: var(--color-white);
}

.main-container .background-content .h2{
  color: var(--color-black) !important
}


.main-container .content .btn-info{
  color: var(--color-white);
  background: transparent;
  border: solid 1px #fff;
  border-radius: 21px;
}


.main-container .content .btn-info img{
  filter: invert();
}

.main-container .background-content .btn-info img{
  filter: none;

}

.main-container .background-content .btn-info{
  background: transparent;
  border: solid 1px var(--color-black);
  border-radius: 21px;

}

.main-container .background-content .btn-info span{
  color: var(--color-black) !important;
}




.main-container .background-content .nav-link img,
.main-container .background-content .dropdown-toggle::after{
  /* filter: invert(1); */
}



/* ------------------------------------------------------------------ */

/* La clase "width-complete" al colocarlo al div que tiene la clase "content", se cerrara el menú */

.main-container .width-complete{
  width: 100%;
}

/* ------------------------------------------------------------------ */

.main-container .navbar{
  background-color: transparent !important;
}

.main-container .navbar img{
  width: 13rem;
}

/* .main-container .navbar img{
  width: 13rem;
} */


.profile{
  width: 45px;
  height: 45px;
  background: #D9D9D9;
  border-radius: 50%;
  cursor: pointer;
}

.profile span{
  font-family: PoppinsBold;
  color: var(--color-black);
  font-size: 16px;
}

.dropdown-toggle::after {
  content: url('./assets/icons/flecha-negra.svg') !important;

  border: 0 !important;
  width: 10px;
  height: 10px;
  margin-left: 8px !important;
  vertical-align: 0 !important;
}

.dropdown-toggle-custom-account::after {
  /* content: url('./assets/icons/flecha-negra.svg') !important;

  border: 0 !important;
  width: 10px;
  height: 10px;
  margin-left: 8px !important;
  vertical-align: 0 !important;  */
  content: none;
}

.dropdown-toggle-2::after {
  content: url('./assets/icons/icon-arrow-logo.svg') !important;
  border: 0 !important;
  width: 10px;
  height: 10px;
  margin-left: 8px !important;
  vertical-align: 0 !important;
  /* content: none; */
}

.dropdown-menu{
  width: max-content !important;
}

.custom-dropdown-toggle{
  white-space: nowrap;
}

.custom-dropdown-toggle::after {
  content: "";
  border: 0 !important;
  /* width: 12px;
  height: 12px; */
  /* margin-left: 10px !important; */
  vertical-align: 0 !important;
}

.menu__content{
  height: calc(100% - 4.6rem);
}

.menu__content .menu__item img{
  width: 2rem;
}

.menu__content .menu__item span{
  font-size: 14px;
  font-family: PoppinsRegular;
}

.btn-dark {
  width: 7rem !important;
  border-radius: 21px !important;
  padding: 0.7rem 0.5rem !important;
}


.form-check-input:checked {
  background-color: transparent !important;
  border-color: #000 !important;
  filter: invert(1);
}


.form-switch .form-check-input {
  --bs-form-switch-bg: url(./assets/icons/circle.svg) !important;
  width: 2em;
  margin-left: -2.5em;
  background-image: var(--bs-form-switch-bg);
  background-position: left center;
  border-radius: 2em;
  transition: background-position .15s ease-in-out;
}


.btn-primary {
  border: solid 1px #15507A !important;
  border-radius: 21px;
  background: transparent !important;
}

.btn-primary-custom {
  background-color: #15507A !important;
  border-radius: 14px;
}

.btn-atjo {
  background-color: #15507A !important;
}

.btn-primary span {
  color: #15507A !important;
}

.btn-secondary {
  background-color: #15507A !important;
  border-radius: 21px;
}

/* --------------------------------------------Label forms------------------------------------------------- */

.form-label {
  margin-bottom: 0 !important;
  margin-left: .5rem !important;
  font-size: 12px !important;
}

.fw-bolder {
  font-family: PoppinsBold !important;
  /* color: var(--color-black) !important; */
}


.container {
  max-width: 95% !important;  /* Ancho personalizado */
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.accordion-item {
  background-color: #EEE !important;
  /* border: 1px solid black !important; */
  border-radius: 13px !important;
}

.accordion-button {
  background-color: transparent !important;
  padding: 1rem 1.5rem !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.w-lg-100 {
  width: auto;
}

/* .position_text_input {
  position: static;
} */

.vh-lg-100 {
   height: 100% !important;
}


@media (max-width: 992px) {
  .w-lg-100 {
      width: 100% !important; /* En pantallas grandes, ajusta el tamaño según su contenido */
  }

  .vh-lg-100 {
    height: auto;
  }
  /* .position_text_input {
      position: absolute;
      top: calc(100vh - 20rem);
  } */
}

.offcanvas {
  background-color: var(--color-background);
}


/* Estilos de la respuesta de bot */

.markdown-container {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.markdown-container h1,
.markdown-container h2,
.markdown-container h3,
.markdown-container p {
  color: #333 !important;
  margin: 0.5rem 0.5rem 0.5rem 1rem;
}

.markdown-container ul,
.markdown-container ol {
  padding-left: 1.5em;
}

.markdown-container code {
  background: #f4f4f4;
  padding: 0.5rem;
  border-radius: 3px;
  font-family: monospace;
}

.markdown-container pre {
  background: #f8f8f8;
  padding: 0.5rem;
  border-radius: 5px;
  overflow-x: auto;
}

.nav-link {
  font-size: 14px;
}

.dropdown {
  position: unset !important;
} 

.title-section {
  width: max-content !important;
}


/* .offcanvas {
  transition: transform 0.4s ease-in-out; /* Cambia duración y efecto 
} */

.offcanvas-backdrop {
  opacity: 0 !important;
}

/* body.offcanvas-backdrop {
  transition: background-color 0.4s ease-in-out;
} */