.custom_field {
    border-radius: 11.4px !important;
    padding: 0.7rem !important;
    border: 1px solid #69B544 !important;
    
}

.custom_field:focus {
    border: 1px solid #eca83d !important;
    box-shadow: none !important;
}

.inverte {
    filter: invert(1);
}



.message_section {
    height: calc(100vh - 15rem); 
   
}
.message_section p {
    color: black !important;
}
.card_message {
    border-radius: 15px !important;
}

.button {
    background-color: #69B544 !important;
    color: white !important;
    border-radius: 16px !important;
}

.button:hover{
    background-color: var(--color-button) !important;
}


.button_card{
    width: max-content !important;
    padding: 0.6rem 1.5rem !important;
}